<div style="display:flex;flex-direction: column;align-items: center;">
    <img src="/profile-image.png" alt="Profile Image" style="width:128px;height:128px;border-radius:50%;" />
    <h1>Karn Jaroenporn</h1>
    <h3>Contact</h3>
    <table style="width:100%;max-width:320px;border: 1px solid">
        <tr>
            <th>
                Provider
            </th>
            <th>
                Username
            </th>
        </tr>
        <tr>
            <td>Email</td>
            <td>karnjj@hotmail.com</td>
        </tr>
        <tr>
            <td>Facebook</td>
            <td>Karn Jaroenporn</td>
        </tr>
        <tr>
            <td>Github</td>
            <td>karnjj</td>
        </tr>
        <tr>
            <td>Discord</td>
            <td>karnjj#6061</td>
        </tr>
    </table>
    <h3>เพลงที่ชอบ</h3>
    <p>
        เห็นเธอมีน้ำตา
        ด้วยความเจ็บช้ำ
        เจ็บกับสิ่งที่เธอถูกเขาทำร้าย
        เธอยังคงนั่งร้องไห้
        จนปิดตัวเองอยู่ในความมืดมน
        ฉันคงจะไม่ทนเห็นเธออย่างนี้
        อยากจะดึงให้พ้น
        จากความมืดมิด
        ออกไปดูดวงอาทิตย์
        ให้รู้ว่าชีวิตยังต้องก้าวไป
        ลองให้ดวงอาทิตย์
        สาดแสงส่อง
        อยากให้เธอได้เห็น
        แดดร้อนแรง
        ไออุ่นทำให้เธอตาสว่าง
        มีแดดในยามเช้าให้สัมผัส
        เราจะพากันวิ่งผ่านด้วยกัน
        จับมือฉัน โอบกอดไว้ให้นาน
        นานเท่านาน
        ตื่นขึ้นมาแล้วเธอยังมีพรุ่งนี้
        ยังมีวันดีดี รออยู่ตรงนั้น
        จ้องมองไปที่แสงตะวัน
        จะเห็นประกายที่สวยงาม
        อย่าคิดว่าเธอเดินอยู่ลำพัง
        อยากให้เธอรู้ว่ายังมีฉัน
        อย่าเพิ่งยอมแพ้
        อย่าเพิ่งท้อแท้
        อย่าเพิ่งร้องไห้
        ลองให้ดวงอาทิตย์
        สาดแสงส่อง
        อยากให้เธอได้เห็น
        แดดร้อนแรง
        ไออุ่นทำให้เธอตาสว่าง
        มีแดดในยามเช้าให้สัมผัส
        เราจะพากันวิ่งผ่านด้วยกัน
        จับมือฉัน โอบกอดไว้ให้นาน
        ลุกขึ้นมา และเช็ดน้ำตา
        ทิ้งวันคืนจงตื่นจากฝันร้าย
        ขอแค่เพียงอย่าไปเสียใจ
        ให้เธอได้เริ่มวันใหม่
        ลองให้ดวงอาทิตย์
        สาดแสงส่อง
        อยากให้เธอได้เห็น
        แดดร้อนแรง
        ไออุ่นทำให้เธอตาสว่าง
        มีแดดในยามเช้าให้สัมผัส
        เราจะพากันวิ่งผ่านด้วยกัน
        จับมือฉัน โอบกอดไว้ให้นาน
        ลองให้ดวงอาทิตย์
        สาดแสงส่อง
        อยากให้เธอได้เห็น
        แดดร้อนแรง
        ไออุ่นทำให้เธอตาสว่าง
        มีแดดในยามเช้าให้สัมผัส
        เราจะพากันวิ่งผ่านด้วยกัน
        จับมือฉัน โอบกอดไว้ให้นาน
        นานเท่านาน
    </p>
</div>